/**
 * For the sake of simplicity, example contains the code
 * that is nessessary for this assignment only.
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* General
    ========================================================================== */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-color--red {
  color: #e21912;
}

.button {
  width: 80px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
}

.button:hover {
  cursor: pointer;
  outline-color: #292929;
}

.button--red {
  border: 2px solid #e21912;
  outline-color: #e21912;
  color: #e21912;
}

.button--green {
  border: 2px solid #008f39;
  outline-color: #008f39;
  color: #008f39;
}

.button--black {
  border: 2px solid #292929;
  outline-color: #292929;
  color: #292929;
}

#app {
  padding: 2rem;
  background-color: #eef0f1;
  color: #292929;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.block {
  max-width: 750px;
  margin: 0 auto 20px auto;
  background-color: #fff;
}

/* Article Single
   ========================================================================== */

.article__body {
  max-width: 640px;
  padding: 3rem;
  margin: auto;
}

.article__title {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.article__snippet {
  line-height: 2rem;
}

.article__detials {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.article-buttons {
  margin-left: 20px;
}

.article-likes {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#article-likes__number {
  font-weight: 900;
}

.article-likes__heart {
  color: #e21912;
  font-size: 2rem;
}

/* Comment
   ========================================================================== */

.discussion__body {
  padding: 2.5rem;
}

.discussion__title {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.discussion__comment {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.discussion__details {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

.discussion__form__fields {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* Form
   ========================================================================== */

.form-el {
  margin-top: 15px;
}

.input-name {
  display: block;
}

.alert_body {
  padding: 1rem 2.5rem;
  color: #e21912;
  font-weight: 900;
}

/* Differ
   ========================================================================== */

.star {
  color: gold;
}
