<section class="block article">
  <div class="article__body">
    <h1>Computed & Watch:</h1>
    <p>Ausgangsgewicht von Uwe und Rolf: {{ Ausgangsgewicht }}</p>
    <button class="button button--green form-el" (click)="onClickAddUwe()">
      <span>Uwe nimmt zu</span></button
    ><br />
    <button class="button button--green form-el" (click)="onClickAddRolf()">
      <span>Rolf nimmt zu</span></button
    ><br />
    <p class="form-el">Gewichtszunahme von Uwe: {{ UweGewichtPlus }}</p>
    <p class="form-el">Gewichtszuhname von Rolf: {{ RolfGewichtPlus }}</p>

    <p class="form-el">Kampfgewicht Uwe: {{ gewichtUwe() }}</p>
    <p class="form-el">Kampfgewicht Rolf: {{ gewichtRolf() }}</p>
  </div>
</section>
