<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ex-4</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <main id="app">
      <section class="block article">
        <div class="article__body">
          <h2 class="article__title">
            <span class="star" v-if="likes > 10"> &#9733;</span> Lorem ipsum
            dolor sit
          </h2>
          <div class="article__snippet">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          </div>

          <div class="article__detials">
            <div class="article-buttons article-likes">
              <div class="article-likes__description">
                <span id="article-likes__number">{{ likes }}</span>
                Likes
              </div>
              <button class="button button--red" @click="likes++">
                <span class="article-likes__heart">&#10084;</span>
              </button>
            </div>
            <div class="article-buttons article-donations">
              <div class="article-likes__description">
                <span id="article-likes__number">{{ money }}€</span>
                Spendenkonto
              </div>
              <button class="button button--green" @click="donate(10)">
                <span>Spende 10€</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="block block-alert" v-show="alert">
        <div class="alert_body">This is Prof. Bleymehl</div>
      </section>
      <section class="block discussion">
        <div class="discussion__body">
          <h3 class="discussion__title">Pinnwand</h3>
          <div class="discussion__comment">{{ comment.text }}</div>
          <div class="discussion__details">
            <div class="author">{{comment.author}}</div>
          </div>
          <div class="discussion__form">
            <form
              class="discussion__form__fields"
              v-on:submit.prevent="saveComment"
            >
              <div class="form-el">
                <label for="comment">Kommentar</label>
                <textarea name="comment" id="comment" cols="50" rows="5">
                </textarea>
              </div>
              <div class="form-el">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="input-name" />
              </div>
              <button class="button button--black form-el" type="submit">
                senden
              </button>
            </form>
          </div>
        </div>
      </section>

      <!-- Baue einen kleinen Taschenrechner der die zwei felder addiert-->
      <section class="block discussion">
        <div class="discussion__body">
          <h3 class="discussion__title">Taschenrechner</h3>
          
          <div>
                <input type="number" name="numa" class="num_field"  />
                <input type="number" name="numb" class="num_field"  />
          </div>
          <div>
            Ergebnis: 

      </div>

          </div>
        </div>
      </section>

      
    </main>
  </body>
</html>
