<template>
  <q-page padding>
    <div class="q-mx-auto" style="max-width: 500px">
      <q-input
        filled
        type="text"
        label="Gebe deinen Namen ein"
        v-model="name"
      />
      <h3 class="text-center">Das ist {{ anrede }} persönliche About Seite</h3>
      <about-content
        @anredeChange="anrede = $event"
        :nameProp="name"
      ></about-content>
    </div>
  </q-page>
</template>
<script>
import AboutContent from "../components/AboutContent.vue";
export default {
  components: {
    AboutContent,
  },
  data() {
    return {
      name: "",
      anrede: "deine",
    };
  },
};
</script>
<style lang="scss" scoped>
.about-text {
  width: 600px;
}
.q-page {
  max-width: 1300px;
}
</style>
