<template>
  <q-page padding>
    <div class="q-pa-md">
      <!-- Erfolgsmeldung
        <q-banner rounded class="bg-positive text-white">
        E-Mail wurde versendet
      </q-banner> -->
      <h5>An wen soll eine E-Mail gesendet werden?</h5>
      <div class="q-gutter-sm">
        <q-radio
          size="md"
          v-model="recipient"
          val="Christoff"
          label="Christoff"
        />
        <q-radio
          size="md"
          v-model="recipient"
          val="Aljoscha"
          label="Aljoscha"
        />
        <q-radio
          size="md"
          v-model="recipient"
          val="Laura... LAAAUUUURAA"
          label="Laura ... LAAAAUUUURAA"
        />
      </div>
    </div>

    <!-- E-Mail Komponente 
    
    1. Aufgabe: Fügt der Emailform ein quasar tooltip für den Sendenbutten hinzu. 
      Anforderungen: 
          - er soll rein und raus faden -> animation anpassen
          - er soll blau sein 
          - er soll mittig unter dem button erscheinen
          - er soll nur erscheinen, wenn der Datenschutzkram noch nicht bestätigt wurde 

    2. Aufgabe: Macht aus der Email form eine Komponente und importiert diese in Home

    3. Aufgabe: übergebt den Empfänger an die Komponente und Zeigt ihn in der Komponente an 

    4. Aufgabe: Übermittelt die Info Email wurde abgesendet an die Home-Seite und zeigt hier einen Hinweis an. 
    
    -->

    <div class="q-pa-md" style="max-width: 500px">
      <q-form @submit="onSubmit" class="q-gutter-md">
        <h4>E-Mail an: Empfänger</h4>
        <q-input
          filled
          v-model="name"
          label="Dein Name"
          hint="Name und Vorname"
          lazy-rules
          dense
          :rules="[
            (val) => (val && val.length > 0) || 'Bitte gebe deinen Namen ein',
          ]"
        />

        <q-input
          filled
          type="text"
          v-model="betreff"
          label="Betreff"
          lazy-rules
          dense
          :rules="[
            (val) => (val && val.length > 0) || 'Bitte gebe einen Betreff an',
            (val) =>
              (val && val.length >= 10) ||
              'Der Betreff muss mindestens 10 Zeichen enthalten',
          ]"
        />
        <q-input
          filled
          type="email"
          v-model="email"
          label="E-Mail"
          dense
          lazy-rules
          :rules="[(val) => !!val || 'E-Mail muss angegeben werden']"
        />

        <q-input
          filled
          type="textarea"
          v-model="text"
          label="Deine Nachricht"
          lazy-rules
          :rules="[
            (val) => (val && val.length > 0) || 'Bitte gebe eine Nachricht ein',
          ]"
        />
        <q-toggle v-model="accept" label="Datenschutzkram akzeptieren" />

        <div>
          <q-btn
            :class="{ disabled: !accept }"
            label="Submit"
            type="submit"
            color="primary"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      recipient: false,
      emailSucess: false,
      name: "",
      betreff: "",
      email: "",
      text: "",
      accept: false,
    };
  },
  methods: {
    onSubmit() {
      console.log("E-Mail wurde gesendet");
    },
  },
};
</script>

<style lang="scss" scoped></style>
