<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ex-2</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <main id="app">
      <section class="block article">
        <div class="article__body">
          <h2 class="article__title">Lorem ipsum dolor sit</h2>
          <div class="article__snippet">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          </div>

          <div class="article__detials">
            <div class="article-buttons article-likes">
              <div class="article-likes__description">
                <span id="article-likes__number">{{ likes }}</span>
                Likes
              </div>
              <button class="button button--red" @click="likes++">
                <span class="article-likes__heart">&#10084;</span>
              </button>
            </div>
            <div class="article-buttons article-donations">
              <div class="article-likes__description">
                <span id="article-likes__number">{{ money }}€</span>
                Spendenkonto
              </div>
              <button class="button button--green" @click="donate(5)">
                <span>Spende 10€</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <!--
   TODO
   Aufgabe 3:
  schickt ein formular ab, mit dem ihr das kommentar und den autor überschreibt
  -->

      <section class="block discussion">
        <div class="discussion__body">
          <h3 class="discussion__title">Pinnwand</h3>
          <div class="discussion__comment">
            hier soll am ende da kommentar stehen. hier soll am ende da
            kommentar stehen.hier soll am ende da kommentar stehen.hier soll am
            ende da kommentar stehen.hier soll am ende da kommentar stehen.hier
            soll am ende da kommentar stehen.
          </div>
          <div class="discussion__details">
            <div class="author">Aljoscha</div>
          </div>
          <div class="discussion__form">
            <form class="discussion__form__fields">
              <div class="form-el">
                <label for="comment">Kommentar</label>
                <textarea name="comment" id="comment" cols="50" rows="5">
                </textarea>
              </div>
              <div class="form-el">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="input-name" />
              </div>
              <button class="button button--black form-el">senden</button>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
