<template>
  <div>
    <q-btn class="q-mx-auto q-mb-lg" @click="handleClick">
      Für dich immer noch SIE</q-btn
    >
    <p v-for="i in 5" :key="i" class="about-text text-justify">
      Hallo {{ nameProp }}. Ich bin ein kleiner Blindtext. Und zwar schon so
      lange ich denken kann. Es war nicht leicht zu verstehen, was es bedeutet,
      ein blinder Text zu sein: Man ergibt keinen Sinn. Wirklich keinen Sinn.
      Man wird zusammenhangslos eingeschoben und rumgedreht – und oftmals gar
      nicht erst gelesen. Aber bin ich allein deshalb ein schlechterer Text als
      andere? Na gut, ich werde nie in den Bestsellerlisten stehen. Aber andere
      Texte schaffen das auch nicht. Und darum stört es mich nicht besonders
      blind zu sein. Und sollten Sie diese Zeilen noch immer lesen, so habe ich
      als kleiner Blindtext etwas geschafft, wovon all die richtigen und
      wichtigen Texte meist nur träumen.
    </p>
  </div>
</template>

<script>
export default {
  props: ["nameProp"],
  methods: {
    handleClick() {
      this.$emit("anredeChange", "Ihre");
    },
  },
};
</script>

<style lang="scss" scoped></style>
