<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Showcase</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <section class="block article">
          <div class="article__body">
            <h1>Basics:</h1>
            <!-- binding on attributes v-bind: or : -->
            <h1 :class="{'text-color-red' : active}">
              <!-- interpolation  -->
              {{ name }}
              <br />
              {{ name ? 'name ist da' : 'name ist weg'}}
            </h1>
            <!-- binding on events v-on or @ -->
            <button @click="makeActive(!active)" class="article-buttons">
              Test
            </button>
          </div>
        </section>
        <section class="block article">
          <div class="article__body">
            <h1>Forms:</h1>
            <!-- handeling form inputs -->
            <form
              @submit.prevent="handleSubmit"
              class="discussion__form__fields"
            >
              <!-- two way data binding with v-model -->
              <input v-model="userInput" type="text" class="form-el" />
              <input v-model="checked" type="checkbox" class="form-el" />
              <div class="form-el">User Input: {{userInput}}</div>
              <div class="form-el">Checkbox: {{checked}}</div>
              <button class="form-el" type="submit">submitForm</button>
              <i>Hint: look at the console</i>
            </form>
          </div>
        </section>
        <section class="block article">
          <div class="article__body">
            <h1>Conditional Rendering and Loops:</h1>
            <h2>v-if v-else v-show</h2>
            <div v-if="userLang == 'de'" class="form-el">Willkommen</div>
            <div v-else-if="userLang == 'fr'" class="form-el">Bienvenue</div>
            <div v-else class="form-el">Welcome</div>

            <div v-show="!userLang" class="form-el">Select a Lang</div>
            <br /><br />
            <h2>Show fruits For Loop</h2>
            <br />
            <ul>
              <li v-for="(fruit, index) in fruits" :key="index">
                {{index}}: {{fruit.item}}
              </li>
            </ul>
          </div>
        </section>

        <section class="block article">
          <div class="article__body">
            <h1>Computed & Watch:</h1>
            <p>Ausgangsgewicht von Uwe und Rolf: {{Ausgangsgewicht}}</p>
            <button
              class="button button--green form-el"
              @click="UweGewichtPlus++"
            >
              <span>Uwe nimmt zu</span></button
            ><br />
            <button
              class="button button--green form-el"
              @click="RolfGewichtPlus++"
            >
              <span>Rolf nimmt zu</span></button
            ><br />
            <p class="form-el">Gewichtszunahme von Uwe: {{UweGewichtPlus}}</p>
            <p class="form-el">Gewichtszuhname von Rolf: {{RolfGewichtPlus}}</p>

            <p class="form-el">Kampfgewicht Uwe: {{gewichtUwe}}</p>
            <p class="form-el">Kampfgewicht Rolf: {{gewichtRolf}}</p>

            <div v-show="!uweLebt" class="form-el">Uwe ist tot</div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
